<%  include partials/header %>
  
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Contact</a>
  </div>
  <div class="card-group">
  <%journal.forEach(function(journal){%>
    <div class="card">
      <img src="<%=journal.image%>" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title"><%=journal.title%></h5>
          <p class="card-text"><%=journal.description.toSubstring(0,100)%></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%=journal.published.toDateString()%></small>
        </div>
     </div>
  <%})%>
  </div>
</div>
<%  include partials/footer %>
