<%  include partials/header %>

<div class="jumbotron">
    <h1 class="display-4">Hello, World! Submit A Journal, If You Don't Mind. </h1>
    <div class="container">
        <div class="row">
            <form class="col-lg-6" action="/journal" method="POST">
                <div class="form-group">
                    <label for="formGroupExampleInput2">Author</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="journal[author]">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Title</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="journal[title]">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Sub-Title</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="journal[subtitle]">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Image</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="journal[image]">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Description</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="journal[description]">
                </div>
            </form>
        </div>
    </div>
</div>
<%  include partials/footer %>
