<%  include partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <hr class="my-4">
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <p class="text-justify">Lorem Ipsum</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </div>
  </div>
<%  include partials/footer %>
